body {
    font-size: 16px;
}

@font-face {
    font-family: Lato-bold;
    src: url(assets/fonts/Lato-bold.ttf);
}

header {
    font-family: Lato-bold;
    src: url(assets/fonts/Lato-bold.ttf);
    background-color: rgb(50, 50, 50);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 63px;
    z-index: 101;
  }
  .navigation {
  }


  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
  }
 
  .menu::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width:  25px 50px 0 50px;
    border-color: rgb(50, 50, 50) transparent transparent transparent;
    top: 63px;
}

  .item {
      font-size: 10px;
      color: white;
      text-decoration: none;
      display: inline;
      margin: 8px 8px;
  }

  .item a {
    color: white;
    text-decoration: none;
  }

  .item a:focus {
      color: #2eb398;
  }

 main {
     background-color: white;
 }


 .hexagon {

width: 180px;
height: 210px;
margin: 10px;
padding-top: 250px;
transform: rotate(120deg);
overflow: hidden;
visibility: hidden;
display: inline-block;
position: relative;
top: 90px;
left: 435px;
 }
 .hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
 }

 .hex-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-image: url("assets/images/hexals/Layer\ 33.png");
    background-repeat: no-repeat;
    background-position: 50%;
 }
 footer {
    background-color: #323232;
 }

 .btn-form {
    background-color: #2eb398;
}